{
  "openapi": "3.0.0",
  "info": {
    "title": "Idealista7",
    "version": "1.0.0",
    "description": "RapidAPI: scraperium/idealista7"
  },
  "servers": [
    {
      "url": "https://idealista7.p.rapidapi.com"
    }
  ],
  "paths": {
    "/listhomes": {
      "get": {
        "summary": "List Home Properties",
        "description": "List home properties with the requested parameters. Buy/Rent \\u003e Homes. Filters are optional parameters, please make sure the request follows the rules in each parameter.  Boolean parameters should be true always if you want to use them. To make them false, don't include them in the requests (leave blank).",
        "operationId": "list_home_properties",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Order by one of the followings: relevance|lowestprice|highestprice|mostrecent|leastrecent|highestpricereduction|lowestpricem2|highestpricem2|biggest|smallest|highestfloors|lowestfloors Default is relevance.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Search sales or rentals. Pick between: sale|rent",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Number of items to return. Set 0 to return the item's count, fast response. Max Value is 40, anything above will be ignored.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "One of the following values: es|pt|it",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "The language of the ads. Pick between: es|it|pt|en|ca|de|fr|nl|nb",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": false,
            "description": "Get ads from a specific real estate. For example if the URL from the real estate is: https://www.idealista.com/pro/cajal-gestion-inmobiliaria/ The parameter micrositeShortName should be cajal-gestion-inmobiliaria",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Minimum price to search.",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Maximum price to search.",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Minimum size to search in m2.",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Maximum size to search in m2.",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "flat",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyFlats",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "penthouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "duplex",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "chalet",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "independantHouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "semidetachedHouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "terracedHouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "countryHouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "apartamentoType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "villaType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "loftType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "cortijoType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "atticStudioType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "casaBajaType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms0",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms1",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms2",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms3",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms4",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bathrooms1",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bathrooms2",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bathroom3",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "newDevelopment",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "good",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "renew",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "furnished",
            "in": "query",
            "required": false,
            "description": "Furnishings parameter. ONLY valid when operation=rent. Pick between. Indifferent: leave blank (default) | Furnished: furnished | Only furnished kitchens: furnishedKitchen",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "petsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "airConditioning",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "builtinWardrobes",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "elevator",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "exterior",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "garage",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "garden",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "swimmingPool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "terrance",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "storeRoom",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "accessible",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "luxury",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasPlan",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "virtualTour",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bankOffer",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "topFloor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "intermediateFloor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "longTermResidential",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "shortTerm",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isBareOwnership",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isTenanted",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isIllegallyOccupied",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isFree",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/liststoragerooms": {
      "get": {
        "summary": "List Storage Rooms",
        "description": "List Storage Rooms",
        "operationId": "list_storage_rooms",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listbuildings": {
      "get": {
        "summary": "List Buildings",
        "description": "List Buildings",
        "operationId": "list_buildings",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listlands": {
      "get": {
        "summary": "List Lands",
        "description": "List Lands",
        "operationId": "list_lands",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "urban",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "buildingLand",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "nonBuildingLand",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/propertydetails": {
      "get": {
        "summary": "Property Details",
        "description": "Get more details about a property.",
        "operationId": "property_details",
        "parameters": [
          {
            "name": "propertyId",
            "in": "query",
            "required": true,
            "description": "Property Id.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "One of the following values: es|pt|it",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "description": "The language of the ad. Pick between: en, es, it, pt, ca, de, fr, nl, nb",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listgarages": {
      "get": {
        "summary": "List Garages",
        "description": "List garages",
        "operationId": "list_garages",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Order by one of the followings: relevance|lowestprice|highestprice|mostrecent|leastrecent|highestpricereduction|lowestpricem2|highestpricem2|biggest|smallest|highestfloors|lowestfloors Default is relevance.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": false,
            "description": "Get ads from a specific real estate. For example if the URL from the real estate is: https://www.idealista.com/pro/cajal-gestion-inmobiliaria/ The parameter micrositeShortName should be cajal-gestion-inmobiliaria",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "motorcycleParking",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "automaticDoor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "security",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/getlocations": {
      "get": {
        "summary": "Get Sublocations",
        "description": "Get sublocations inside another location.",
        "operationId": "get_sublocations",
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Location Id that has the flag divisible=true.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "One of the following values: es|pt|it",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "required": true,
            "description": "Changes the 'total' field which indicates the number of properties of this type. Note: bedrooms only works with rent operation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Changes the 'total' field which indicates the number of properties with this operation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/getmicrositeprofile": {
      "get": {
        "summary": "Get Microsite Profile",
        "description": "Get Microsite profile information",
        "operationId": "get_microsite_profile",
        "parameters": [
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": true,
            "description": "Microsite ShortName is the identifier of every real estate profile. You may find it in the URL: idealista.com/pro/sierra-blanca-estates-realty/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/getmicrositelocations": {
      "get": {
        "summary": "Get Microsite Locations",
        "description": "Get the locations where the microsite/profile has properties.",
        "operationId": "get_microsite_locations",
        "parameters": [
          {
            "name": "micrositeShortName",
            "in": "query",
            "required": true,
            "description": "Example value: sumainmobiliaria",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "One of the following values: es|pt|it",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Language: es|it|pt|en|ca|de|fr|nl|nb",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Example value: sale",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listcommercialproperties": {
      "get": {
        "summary": "List Commercial Properties",
        "description": "List Commercial Properties.",
        "operationId": "list_commercial_properties",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "premises",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "industrialBuilding",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "saleWarehouseOnly",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "saleWarehouseWithBusinessTransfer",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "saleWarehouseThirdPartiesRented",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "accommodation",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "barsAndNightclub",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "catering",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "foodTrade",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "tobaccoShop",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "pharmacy",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "newsstand",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "retail",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "educationalCenter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "aestheticAndBeauty",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sportsFacilities",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "professionalServices",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "laboratory",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "storehouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "otherCommercialActivities",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "shoppingcenter",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "mezzanine",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "underground",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ontopfloor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "otherLocations",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listoffices": {
      "get": {
        "summary": "List Offices",
        "description": "List office properties with the requested parameters. Buy/Rent \\u003e Offices. Filters are optional parameters, please make sure the request follows the rules in each parameter.",
        "operationId": "list_offices",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Search sales or rentals. Pick between: sale|rent",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "minSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxSize",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "description": "Distribution parameter. Pick between: Indifferent: leave blank (default) Open plan: openPlan Divided by walls: withWalls",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "buildingType",
            "in": "query",
            "required": false,
            "description": "Type of building parameter. Pick between: Indifferent: leave blank (default) Exclusively for offices: exclusive Mixted use: mixed",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hotWater",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "airConditioning",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "elevator",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "heating",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "accessible",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "exterior",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "garage",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "security",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasPlan",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bankOffer",
            "in": "query",
            "required": false,
            "description": "Bank-owned",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 24h: T (Rent operation only) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listrooms": {
      "get": {
        "summary": "List Rooms",
        "description": "List renting rooms with the requested parameters. Buy, Rent \\u003e Rooms or Share \\u003e Homes.",
        "operationId": "list_rooms",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Order by one of the followings: relevance|lowestprice|highestprice|mostrecent|leastrecent|highestpricereduction|lowestpricem2|highestpricem2|biggest|smallest|highestfloors|lowestfloors Default is relevance.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "newGender",
            "in": "query",
            "required": false,
            "description": "'You are' parameter (your gender). Pick between: male|female",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "smokingPolicy",
            "in": "query",
            "required": false,
            "description": "Pick between: Indiferent: leave blank (default) | Smoking allowed: allowed | Smoking is not allowed: disallowed",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "petsPolicy",
            "in": "query",
            "required": false,
            "description": "Pets. Pick between: Indifferent: leave blank (default) Pets allowed: allowed Pets not allowed: disallowed",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "availableFrom",
            "in": "query",
            "required": false,
            "description": "Date the room is available. Pick between: Any date: leave blank (default) Available now: now +1 month since now: 1m +2 months since now: 2m +3 months since now: 3m +4 months since now: 4m +5 months since now: 5m",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "housemates1",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "housemates2",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "housemates3",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "couplesAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "childrenAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "streetViewWindow",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "privateToilet",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "airConditioning",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "elevator",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "terrace",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "exterior",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "accessible",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasHouseKeeper",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "garden",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "swimmingPool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "topFloor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "intermediateFloor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "groundFloor",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "occupation",
            "in": "query",
            "required": false,
            "description": "Flat sharing with... Pick one of these: Indifferent: leave blank (default) With workers: workers With students: students",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "gayPartners",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "ownerNotLiving",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "privateOwner",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sinceDate",
            "in": "query",
            "required": false,
            "description": "Publication Date Parameter. One of the following values. Indifferent: leave blank (by default) | Last 48h: Y (Buy operation only) | Last week: W | Last month: M",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/listnewhomes": {
      "get": {
        "summary": "List New Homes",
        "description": "List new home properties with the requested parameters. Buy/Rent \\u003e New home. Filters are optional parameters, please make sure the request follows the rules in each parameter.",
        "operationId": "list_new_homes",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": true,
            "description": "Order by one of the followings: relevance|lowestprice|highestprice|mostrecent|leastrecent|highestpricereduction|lowestpricem2|highestpricem2|biggest|smallest|highestfloors|lowestfloors Default is relevance.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Search sales or rentals. Pick between: sale|rent",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "description": "Example value: 0-EU-ES-28-07-001-079",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "required": true,
            "description": "Example value: 40",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": true,
            "description": "Example value: Madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "numPage",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "housesOrChalets",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "flats",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms0",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms1",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms2",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms3",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bedrooms4",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "rentToOwn",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "finished",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "stateSubsidized",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "bankOffer",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/getsuggestions": {
      "get": {
        "summary": "Get Suggestions",
        "description": "Get location suggestions (autocomplete)",
        "operationId": "get_suggestions",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "required": true,
            "description": "Example value: madrid",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "One of the following values: es|pt|it",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "required": true,
            "description": "Changes the 'total' field which indicates the number of properties of this type. Note: bedrooms only works with rent operation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Changes the 'total' field which indicates the number of properties with this operation.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key"
      }
    }
  },
  "security": [
    {
      "ApiAuth": []
    }
  ]
}